/* Container */
#container {
  height: 100px;
  width: 100vw;
  background-color: #1e202b;
  border-bottom-style: 3px solid black;
  text-align: right;
}

#logo {
  background-image: url(https://demo.themezy.com/system/resources/demo_themes/000/000/128//images/logo.png);
  height: 50px;
  width: 50px;
  padding: 10px;
  background-repeat: no-repeat;
  display: block;
  margin-right: auto;
}

#links {
  display: inline;

  color: white;
}

#links a {
  padding: 25px;
  justify-content: start;
}

#links:hover {
  background-color: orange;
}
