/* FOOTER */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
  background-color: #26364a;
  border-top: 3px solid black;
  width: 100vw;
  height: 45px;
  text-align: center;
}
